@import url("style.css");
.about_achievements{
    margin-top: 3rem;
}
.about_achievements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.about_achievements-right >p{
    margin: 1.5rem 0 2.5rem;
}
.achievements_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
   
}
.achievements_card{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}
.achievements_card:hover{
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
}
.achievement_icon{
    background: var(--color-danger);
    font-size: 2rem;
    padding: 0.6rem;
    
}
.achievements_card:nth-child(2) .achievement_icon{
    background: var(--color-success);
}
.achievements_card:nth-child(3) .achievement_icon{
    background: var(--color-primary);
}
.achievements_card >h3{
    margin-top: 2rem;
} .achievements_card >p{
    margin-top: 1rem;
} 
/*our team section start*/
.team{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}
.team_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.team_member{
    background: var(--color-bg2);
    border: 1px solid transparent;
    padding: 1.5rem;
    border-radius: 0.2rem;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}
.team_member:hover{
    background-color: transparent;
    border-color:var(--color-primary) ;
}
.team_member-image img{
    filter: saturate(0);
}
.team_member-image img:hover{
    filter: saturate(1);
}
.team_member-info *{
    text-align: center;
    margin-top: 1.4rem;
}
.team_member-info p{
    color: var(--color-light);

}
.team_member-socials{
    position: absolute;
    top: 50%;
    right: -100%;
    display: flex;
    transform: translateY(-50%);
    flex-direction: column;
    background:var(--color-primary);
    padding: 0.5rem;
    border-radius: 0.6rem 0 0 0.6rem;
    box-shadow: -2rem 0 2rem rgba(0,0,0,0.3);
    transition: var(--transition);
}
.team_member-socials a{
    padding: 0.3rem;
}
.team_member:hover .team_member-socials {
    right: 0;
}
/*our team section end*/
/*media query for tablet start*/
@media screen and (max-width: 1024px){

    .about_achievements{
        margin-top: 2rem;
    }
    .about_achievements-container{
        grid-template-columns: 1fr;
        
    }
    .about_achievements-left{
        width: 80%;
        margin:0 auto;
    }
    .team_container{
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
    }
    .team_member{
        padding: 1rem;
    }
}
/*media query for tablet end*/
/*media query for mobile start*/
@media screen and (max-width: 600px){
    body{
        background: red;
    }
    .achievements_cards{
        grid-template-columns: 1fr 1fr;
    }
    .team_container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7;
    }
    .team_member{
        padding: 0;
    }
    .team_member p{
        margin-bottom: 1rem;
    }
}
/*media query for mobile start*/